/* ================================= */
/* ----------- COLORS CSS ---------- */
/* ================================= */
a:hover{
  color: #173471;
}
.bg-color-blue {
  background:#173471;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #173471;
  color: #fff !important;
}
.line_6 {
  background: #173471;
}
a:hover, a:focus {
 color: #173471;
}
.testinomial_wrap .testinomial_text::after {
  border-top: 20px solid #173471;
}
.blue_dark {
  background:#173471;
}
.pushmenu .push_nav .dropdown-menu li > a:hover{
 background:#173471;
}
.header-login {
  background: #173471;
}
#our-agent-slider .item:hover .team_text {
  background: #173471;
  transition: all 0.6s ease-in-out 0s;
}
.team_popup .progress-bar {
  background-color: #173471;
}
.pop_text > h3 {
  color: #173471;
}
.text-tag {
  background: #173471;
}
.query-title {
  background: #173471;
}
.single-query option {
  background:#173471;
}
.property-page-bg .query-submit-button.pull-right > input[type="submit"] {
  background: #173471;
}
.intro .dropdown li.current {
  background-color: #173471;
}
.feature-box .icon {
  background-color: #173471;
}
.feature-box .icon:after {
  border-color: transparent #173471 transparent transparent;
}
.link-arrow:hover::after {
  color: #173471;
 }
.proerty_content .favroute ul li a:hover {
  background:#173471;
}
.feature .tag-2 {
  background: #173471;
}
#property-listing-slider .owl-next:hover,
#property-listing-slider .owl-prev:hover {
  background:#173471 !important;
}
#image-text .image-text-heading span {
  color: #173471;
}
.image-text-heading > a:hover {
  color:#173471;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background:#173471;
}
.list.angle-double-right.list-border a:hover {
  color: #173471;
}
.team-block .team-thumb .styled-icons a:hover, .work-gallery .gallery-thumb .styled-icons a:hover, .work-gallery:hover .gallery-bottom-part, .line-bottom-theme-colored-2::after, .panel-group .panel-title a.active::after {
  background: #173471;
}
.line1, .line2 {
  background-color: #173471;
}
.line1, .line2 {
  background-color: #173471;
}
.btn-theme-colored {
  color: #173471;
}
.bg-theme-color-2 {
  background: #173471;
}
.styled-icons.icon-bordered a:hover {
  background-color: #173471;
}
.button {
}
.page-title a:hover {
  border-bottom:1px solid #173471;
}
.line1, .line2 {
  background-color: #173471;
}
.social-icons a {
  color: #173471;
}
#agent-p-2 .nstSlider .bar {
  background: #173471;
}
.feature-p-text > a:hover h4{
  color:#173471;
}
.f-p-links > li a.active {
  background: #173471;
}
.f-p-links > li a:hover {
  background: #173471;
}
.my-pro .my-pro-list .button-my-pro-list > a {
  background: #173471;
}
#login .profile-login ul li a {
  color: #173471;
}
#login .profile-login ul .active > a {
  background:#173471;
}
#login .profile-login .nav > li > a:hover {
  color:#173471;
}

#login .profile-login .btn-slide:hover {
  color:#173471 !important;
}
#login .profile-login .lost-pass:hover {
  border-bottom: 1px solid #173471;
  color: #173471;
}
.wpf-demo-gallery .view-caption a:hover {
  color: #173471;
}
.previous_image_btn {
  background-color:#173471;
}
.next_image_btn {
  background-color:#173471;
}
.isotope-filters button {
  background-color:#173471;
}
.infowindow-markup {
  background: #173471;
  padding: 10px 20px;
}
.featured-properties-detail h4 {
  color: #173471;
}
.top .tag {
  background: #173471 !important;
}
.property-list-list {
  border-top: 3px solid #173471;
}
.property-list-list-info a > h3:hover{
  color: #173471;
}
.property-list-list .property-list-list-label::before {
  border-right: 17px solid #173471;
}
.multiple-recent-properties label {
  background-color: #173471;
}
.property-list-list ul li.right span {
  background-color: #173471;
}
.property-list-list .property-list-list-label::before {
  border-right: 17px solid #173471;
}
.property-list-list label {
  background-color: #173471;
}
.property-details .text-it-p {
  border-left: 6px solid #173471;
}
.property-details .pro-list > li:hover {
  color:#173471;
}
.property-tab .nav-tabs > li.active > a, .property-tab .nav-tabs > li.active > a:focus, .property-tab .nav-tabs > li.active > a:hover {
  background-color: #173471;
}
#agent-3-slider.owl-next:hover{
  background:#173471;
}
#agent-3-slider.owl-prev:hover {
  background:#173471;
}
#news-section-1 .add-on:hover {
  color:#173471;
}
.testinomial_wrap .testinomial_text::after {
  border-top: 20px solid #173471;
}
.blue_dark {
  background:#173471;
}
#main-slider .prev, #main-slider .next {
    border: 1px solid #173471;
}
#main-slider .prev:hover, #main-slider .next:hover {
    background-color: #173471;
    border: 1px solid #173471;
} 
.loader{
    background:#173471;
}
.white_border:hover, .white_border:focus{
 color:#173471;
}
.dark_border:hover, .dark_border:focus{
 border:1px solid #173471;
 background:#173471;
}
.skills .progress .progress-bar{
 background:#173471;
}
.header-login {
  background: #173471;
}
#header_top_3 .get-tuch i {
    color: #173471;
}
.pushmenu .push_nav .dropdown-menu li > a:hover{
 background:#173471;
}
#nav_slider .item .nav_tag.yellow{
 background:#173471;
}
#nav_slider .owl-next:hover,
#nav_slider .owl-prev:hover{
  background: #173471;
}
#nav_slider .item {
  background: #173471;
}
.owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span{
 background:#173471;
}
#home_icon {
  background: #173471;
}
#home_icon .home_feature:hover h4,
#home_icon .home_feature:hover p,
#home_icon .home_feature:hover i{
    color: #173471;
}
.query-title {
  background: #173471;
}
.single-query option {
  background:#173471;
}
.property-page-bg .query-submit-button.pull-right > input[type="submit"] {
  background: #173471;
}
.intro .dropdown li.current {
  background-color: #173471;
}
.feature_box .icon {
  background-color: #173471;
}
.feature_box .icon:after {
  border-color: transparent #173471 transparent transparent;
}
.team-member .s-link a:hover, 
.t-s-link a:hover{
  color: #173471;
}
.feature .tag-2 {
  background: #173471;
}
#image-text .image-text-heading span {
  color: #173471;
}
.list.angle-double-right.list-border a:hover {
  color: #173471;
}
.team-block .team-thumb .socials a:hover, .work-gallery .gallery-thumb .socials a:hover, .work-gallery:hover .gallery-bottom-part, .line-bottom-theme-colored-2::after, .panel-group .panel-title a.active::after {
  background: #173471;
}
.line1, .line2 {
  background-color: #173471;
}
.btn-theme-colored {
  color: #173471;
}
.bg-theme-color-2 {
  background: #173471 !important;
}
.page-title a:hover {
 border-bottom:1px solid #173471;
}
.line1, .line2 {
  background-color: #173471 !important;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background:#173471;
}

#agent-p-2 .nstSlider .bar {
  background: #173471 !important;
}
.feature-p-text > h4 a:hover{
  color:#173471;
}
.feature-p-text > a {
  background: #173471;
}
.f-p-links > li a.active {
  background: #173471;
}
.f-p-links > li a:hover {
  background: #173471;
}
.my-pro .my-pro-list .button-my-pro-list > a {
  background: #173471;
}
#login .profile-login ul li a {
  color: #173471;
}
#login .profile-login ul .active > a {

  background:#173471;
}
#login .profile-login .nav > li > a:hover {
  color:#173471;
}
#login .profile-login .lost-pass {
  border-bottom: 1px solid #173471;
  color: #173471;
}
.wpf-demo-gallery .view-caption a:hover {
  color: #173471;
}
.previous_image_btn {
  background-color:#173471;
}
.next_image_btn {
  background-color:#173471;
}
.infowindow-markup {
  background: #173471;
}
.top .tag {
  background: #173471 !important;
}
#news-section-1 .add-on:hover {
  color:#173471;
}
.btn_fill{
  background:#173471;
}
a.back-to{
  background:#173471;
}
.pager li > a:hover, .pager li > a:focus, .pager li.active > a {
  background:#173471;
  border-color:#173471;
}

/*** Same hover Color ***/
.group-button-search {
  background: #173471;
}
.search_2_set {
 border-top: 5px solid #173471;
}
.property_item .price .tag, .property_item .price h4 {
  background:#173471;
}
.inner-page-gallery-two-columns-dimension-btn a.active, 
.inner-page-gallery-two-columns-dimension-btn a:hover, 
.inner-page-gallery-three-columns-dimension-btn a.active, 
.inner-page-gallery-three-columns-dimension-btn a:hover {
  background: #173471;
}
.featured-properties-detail h4 {
  color: #173471;
}
nav.navbar.bootsnav .navbar-toggle{
  background:#173471 !important;
}
.color_red {
  color:#173471;
}
.loader{
    background:#173471;
}
.socials li a:hover, .socials li a:focus{
 background:#173471;
 border-color:#173471;
}
.bg_red {
  background: #173471;
}
.line_4,
.line_5,
.line_6{
  background: #173471;
}
.link_arrow:hover::after, .link_arrow:focus::after{
  color: #173471;
}
#header-top .header-top-links ul li a:hover{
  color:#173471;
}

nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus,
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.dropdown > .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav > li.dropdown.on > .dropdown-toggle,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:focus{
  color:#173471 !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:focus,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:focus,
nav.navbar.bootsnav ul.nav > li.dropdown .dropdown-menu .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav .dropdown-menu  li.dropdown.on .dropdown-toggle{
  background:#173471;
}
.pushmenu{ 
  border-top:5px solid #173471;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus, 
.pushmenu .push_nav > li.active > a{
 color:#173471;
}
#partner_slider .item:hover img,
#partner_slider_2 .item:hover img{
  border: 1px solid ##173471;
  cursor:pointer;
}
#nav_slider .owl-prev:hover, #nav_slider .owl-next:hover,
#listing_slider .owl-next:hover, #listing_slider .owl-prev:hover,
#property-listing-slider .owl-prev:hover, #property-listing-slider .owl-next:hover,
#property-2-slider .owl-prev:hover, #property-2-slider .owl-next:hover,
#property-d-1 .owl-prev:hover, #property-d-1 .owl-next:hover,
#property-1-slider .owl-prev:hover, #property-1-slider .owl-next:hover,
#agent-2-slider .owl-prev:hover, #agent-2-slider .owl-next:hover,
#agent-3-slider .owl-next:hover, #agent-3-slider .owl-next:focus,
#agent-3-slider .owl-prev:hover, #agent-3-slider .owl-prev:focus{
  background:#173471;
}
#listing_slider .owl-next:hover, #listing_slider .owl-prev:hover,
#property-listing-slider .owl-prev:hover, #property-listing-slider .owl-next:hover,
#property-2-slider .owl-prev:hover, #property-2-slider .owl-next:hover,
#property-d-1 .owl-prev:hover, #property-d-1 .owl-next:hover,
#property-1-slider .owl-prev:hover, #property-1-slider .owl-next:hover,
#agent-2-slider .owl-prev:hover, #agent-2-slider .owl-next:hover{
 border-color:#173471;
}
#project .cbp-filter-item.cbp-filter-item-active,
#project .cbp-filter-item:hover{
  background: #173471;
}
.property_meta{
  background:#173471;
}
.mb20 form a.button {
  background: #173471;
}
.map-detail h4{
  color:#173471;
}
.image-label label {
  background-color:#173471;
}
.bg-color-red{
 background:#173471;
}
.calc .fa {
    background-color: #173471;
}
.calc .btn {
    background: #173471;
}
.calc .reset {
    background: #173471;
}
.file_uploader {
  background: #173471;
}
.button-normal.yellow {
  background-color: #173471;
}
.slider-text {
  border-left: 5px solid #173471;
}
/********** RBGA COLORS ************/
.right_box{
  background:rgba(23,52,113, 0.9);
}
.wpf-demo-gallery:hover .view-caption {
  background-color: rgba(23,52,113, 0.9);
}
.inner-page-gallery-two-columns-dimension-detail .image_description, .inner-page-gallery-three-columns-dimension-detail .image_description {
  background: rgba(23,52,113, 0.9);
}
#team {
  background-color: rgba(23,52,113, 0.9);
}